.library-col,
.filtered-library-col,
.library-detail {
    width: 100%;
    min-height: 200vh !important;
    padding: 6rem 0;
    background: linear-gradient(to right, var(--color22), var(--color2));
    font-family: 'Roboto Serif', serif;
}

.filtered-library h1,
.lib-page-header h1 {
    font-size: 2.3em;
    padding-bottom: 1.5rem;
    font-family: 'Caprasimo', cursive;
    color: var(--color1);
    text-align: center;
    text-transform: uppercase;
}

.lib-page-header p {
    font-size: 16px;
    font-family: 'Quintessential', cursive;
    color: var(--color61);
    text-align: center;
    width: 90%;
    margin: 1rem auto;
}

.filtered-library,
.library-page,
.library {
    margin: 4rem auto;
}

.post-heading {
    width: 100%;
    display: flex;
    flex-direction: row !important;
    gap: 3rem;
    color: var(--color31);
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
    margin-bottom: 2rem;
}

.post-heading span {
    font-size: 14px;
}

.post-body {
    width: 100%;
    margin: 1rem 0 !important;
}

.post-body h1 {
    font-size: 1.9em;
    padding-bottom: 1.5rem;
    font-family: 'Caprasimo', cursive;
    color: var(--color1);
}

.post-body h3 {
    font-size: 1.5em !important;
    padding-bottom: 1rem;
    font-family: 'Roboto Serif', serif;
    color: var(--color3) !important;
    font-weight: 600;
}

.post-body p {
    color: var(--color32) !important;
}

.codeSnippetContainer {
    max-width: 100%;
    overflow: auto;
    margin: 1rem auto;
}

.syntax_col{
    overflow-x: scroll !important;
}

.library-tags {
    display: flex;
    flex-direction: row !important;
    gap: 1rem;
}

.library-tags span {
    font-size: 14px;
    color: var(--color61);
}

div.further-col ol li {
    font-size: 17px;
    margin: 1.5rem 0;
    list-style-type: disc !important;
    overflow-x: visible !important;
    color: var(--color1);
}

.further-col li a {
    color: var(--color1);
    text-decoration: underline 3px #ccc;
}

.further-col li span {
    font-size: 16px;
    color: var(--color31);
}

.details-prgh {
    margin-top: 1.5rem;
}

.details-prgh span {
    display: inline-block;
    font-size: 14px;
    font-style: italic !important;
    color: var(--color3);
    margin-bottom: 0.5rem !important;
    font-family: 'Open Sans', sans-serif;
}

.codeSnippetContainer span {
    display: inline !important;
    font-size: 15px;
    font-style: normal !important;
    color: inherit;
    font-family: inherit;
}

.tag-n-share {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    align-items: center;
}

.share-buttons {
    display: flex;
    flex-direction: row !important;
    gap: 10px !important;
    padding: 5px;
}

.share-hover:hover {
    transition: 0.5s ease;
    transform: scale(1.1);
}

/* newicons */
.newicons {
    color: var(--color1);
    font-size: 23px;
}

.library-buttons {
    width: 100%;
    margin: 3rem auto;
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
}


.library-buttons button {
    display: flex;
    flex-direction: row !important;
    gap: 5px;
    text-align: center;
    align-items: center !important;
    background: transparent;
}

.library-buttons button:nth-child(1):hover {
    animation: slideOutArrow 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    color: var(--color1);
    background-color: transparent;
}

.library-buttons button:nth-child(2):hover {
    transform: scale(1.08);
    background-color: transparent;
}

.library-buttons button:nth-child(3):hover {
    animation: slideInArrow 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    color: var(--color1);
    background-color: transparent;
}

.pagination {
    width: 100%;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
}

.subscribe {
    width: 100%;
    margin: auto;
    margin-top: 5rem !important;
    padding: 1.5rem !important;
}

body.theme-1 .subscribe {
    background-color: var(--color4);
    color: var(--color1);
}

body.theme-2 .subscribe {
    background-color: var(--color6);
    color: var(--color31);
}

body.theme-3 .subscribe {
    background-color: var(--color2);
    color: var(--color1);
}

@keyframes slideInArrow {
    0% {
        transform: translateX(-8px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideOutArrow {
    0% {
        transform: translateX(8px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@media only screen and (min-width:768px) {

    .library-col,
    .library-detail {
        padding: 10rem 0;
    }

    .library {
        margin: 5rem auto !important;
    }

    .post-heading {
        gap: 5rem;
    }

    .lib-page-header h1 {
        font-size: 3.2em;
    }

    .post-body h1 {
        font-size: 2.3em;
    }

    .subscribe {
        width: 70%;
        margin: auto !important;
        margin-top: 8rem !important;
        padding: 3rem !important;
    }
}